@import "@/styles/variables.scss";

.navbar {
  height: 40px;
  background: white;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  top: 40px;
}

.line_width_label {
  color: black;
  margin-left: 20px;
  margin-right: 5px;
  font-family: "Arial";
}

.line_width_input {
  padding: 5px;
}
